@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid blueviolet; */
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* NAV  */

header nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
  background-color: #d73533;
  padding: 1rem 0;
  box-shadow: 0px 126px 96px -69px rgba(0, 0, 0, 0.31) inset;
  -webkit-box-shadow: 0px 126px 96px -69px rgba(0, 0, 0, 0.31) inset;
  -moz-box-shadow: 0px 126px 96px -69px rgba(0, 0, 0, 0.31) inset;
  z-index: 1000;
}

.nav-logo {
  display: flex;
}

.nav-logo img {
  width: 120px;
  height: 120px;
  transition: 0.3s ease-in-out all;
}

.nav-logo :hover {
  opacity: 80%;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5rem;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.nav-item:hover .nav-item-icon,
.nav-item:hover .nav-item-title {
  opacity: 0.8;
}

.nav-item-icon {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.7rem;
  display: flex;
  transition: 0.3s ease-in-out all;
}

.nav-item-icon img {
  filter: brightness(0) saturate(100%) invert(30%) sepia(72%) saturate(1639%)
    hue-rotate(336deg) brightness(88%) contrast(100%);
}

.nav-item-title {
  color: white;
  font-size: 20px;
  font-family: "Shadows Into Light", cursive;
}

@media screen and (max-width: 616px) {
  .nav-list {
    gap: 0;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 429px) {
  .nav-item-title {
    display: none;
  }
}

/* MAIN */

main {
  padding-top: 214px;
  position: relative;
}

/* CTA SECTION */

.cta-container {
  position: relative;
  padding-top: 1.8rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.cta-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/images/bg-decoration.png");
  background-size: contain;
  background-repeat: repeat;
  opacity: 0.7;
  z-index: -1;
}

button.button-3d {
  touch-action: manipulation;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
}

button.button-3d {
  touch-action: manipulation;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #d73634;
  border: 2px solid #d43f3a;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.button-3d::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b70200;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #d43f3a, 0 0.625em 0 0 #ff4d4d;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.button-3d:hover {
  background: #d73634;
  transform: translate(0, 0.25em);
}

button.button-3d:hover::before {
  box-shadow: 0 0 0 2px #d43f3a, 0 0.5em 0 0 #ff4d4d;
  transform: translate3d(0, 0.5em, -1em);
}

button.button-3d:active {
  background: #d73634;
  transform: translate(0em, 0.75em);
}

button.button-3d:active::before {
  box-shadow: 0 0 0 2px #d43f3a, 0 0 #ff4d4d;
  transform: translate3d(0, 0, -1em);
}

/* VIDEO SECTION */

.video-container video {
  width: 100%;
  display: block;
}

/* HASTAG SECTION */
.hastag-container {
  height: 100px;
  width: 100%;
  background-color: #d73634;
}

.hastag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 12rem;
  line-height: 55px;
  letter-spacing: -10px;
  text-shadow: 5px -5px 0px rgba(255, 0, 0, 0.6);
}

@media screen and (max-width: 1290px) {
  .hastag {
    font-size: 9rem;
    line-height: 90px;
    letter-spacing: -5px;
  }
}

@media screen and (max-width: 982px) {
  .hastag-container {
    height: 60px;
  }

  .hastag {
    font-size: 6rem;
    letter-spacing: 0px;
    line-height: 47px;
  }
}

@media screen and (max-width: 690px) {
  .hastag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }

  .hastag {
    font-size: 3rem;
    text-shadow: 5px -5px 0px rgba(255, 255, 255, 0.155);
  }
}

/* ABOUT SECTION */
.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.1;
  z-index: -1;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.about-container aside {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about-container article p {
  margin-bottom: 20px;
}

.model-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.model-list li {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid #d73634;
  cursor: pointer;
}

.model-list li:hover img {
  transform: scale(1.15);
  transition: 0.3s ease-in-out all;
}

.model-list li img {
  width: 80px;
}

.selected-model img {
  width: 300px;
}

article {
  color: #ad2422;
}

@media screen and (max-width: 977px) {
  .about-container aside {
    flex-direction: column;
  }

  .model-list {
    flex-direction: row;
  }
}

@media screen and (max-width: 672px) {
  .about-container {
    flex-direction: column;
    padding: 0;
    padding-top: 2rem;
  }

  .model-list li {
    width: 50px;
    height: 50px;
  }

  .model-list li img {
    width: 60px;
  }

  .selected-model img {
    width: 200px;
  }

  .about-container article {
    background-color: #be2a29;
    color: white;
    padding: 1.5rem;
  }

  .bg-image {
    top: 100px;
    left: -120px;
  }
}

/* MUSIC */
.music-container {
  
}


.music-container {
  position: relative;
  overflow: hidden;
}

.music-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/images/bg-decoration.png");
  background-size: contain;
  background-repeat: repeat;
  opacity: 0.7;
  z-index: -1;
}

.music-container h1 {
  padding: 0 1.5rem;
  font-size: 3rem;
  color: white;
  font-family: "Open Sans", sans-serif;
}
